{% extends "base.html" %}

{% block css_links %}
{% endblock %}

{% block main %}
<div class="container mt-3">
  <h3 class="text-center">Hasła</h3>

  <section>
    <form class="d-flex mt-4 justify-content-center" method="POST" action={{url_for('passwords.my_passwords')}}>
      {{form.csrf_token}}

      <article class="card text-dark mx-2" style="width: 1000px">
        <div class="card-header">
          <h4>Dodanie hasła</h4>
        </div>
        <div class="card-body">
          <input class="form-control" type="text" name="name" placeholder="Nazwa hasła" maxlength="50">
          <input class="mb-2 form-control" type="password" name="password" placeholder="Hasło" maxlength="50" required>
          <input class="w-100 form-control" name="url" placeholder="Link do serwisu,lub opis" maxlength="200">
        </div>
        <button class="btn btn-primary mt-2" type="submit">
          Dodaj hasło
        </button>
      </article>
    </form>
  </section>

  <hr>

  <section>
    <h4>Hasła</h4>

    <div class="d-flex flex-wrap">

      {% for password in passwords %}
      <article class="card text-white bg-dark my-3 mx-2" style="width: 20rem">
        <div class="card-header">
          <span class="float-left">{{password.name}}</span>

          <div class="float-right">
            <a class="" href={{url_for('passwords.delete_password', id=password.id)}}><i>Usuń</i></a>
          </div>
          <!-- <div class="float-right">
            <a class="" href={{url_for('passwords.unhash_password', id=password.id)}}><i>Unhash</i></a>
          </div> -->

        </div>
        <div class="card-body">
          <h4 class="card-title">{{password.password}}</h4>
          <p class="card-text">
            {{password.url}}
          </p>         
        </div>
      </article>
      {% endfor %}

    </div>

  </section>

</div>
{% endblock %}

{% block js %}
<!-- Enable tooltips -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script src={{url_for('static', filename='js/my_passwords.js')}}></script>
{% endblock %}