{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href={{ url_for('static', filename='css/spinner.css') }}>
{% endblock %}

{% block main %}
<section class="container card mt-sm-5 mt-2">
  <div class="card-body">
    <h3 class="card-title text-center">Odzyskanie hasła</h3>

    <form method="POST" action={{url_for('account.recover_password')}} id='form'>
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="login">Login</label>
        <input { type="text" value="{{form.login.data if form.login.data}}"
          class="form-control {{'is-invalid' if form.login.errors}}" name="login" placeholder="Twój login">
        {% for error in form.login.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary center mt-2" id='submit-button'>
        <span>Resetuj hasło</span>
      </button>
    </form>

  </div>
</section>
{% endblock %}

{% block js %}
<script src={{url_for('static', filename='js/form_spinner.js')}}></script>
{% endblock %}