{% extends "base.html" %}

{% block css_links %}
{% endblock %}

{% block main %}
<section class="container card mt-sm-5 mt-2">
  <div class="card-body">
    <h3 class="card-title text-center">Reset hasła</h3>

    <form method="POST" action={{url_for('account.reset_password')}}>
      {{ form.csrf_token }}

      <div class="form-group">
        <label for="code">Kod</label>
        <input type="text" value="{{form.code.data if form.code.data}}"
          class="form-control {{'is-invalid' if form.code.errors}}" type="text" class="form-control"
          name="code" id="code" placeholder="Wygenerowany kod">
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" value="{{form.password.data if form.password.data}}"
          class="form-control {{'is-invalid' if form.password.errors}}" type="password" class="form-control"
          name="password" id="password" placeholder="Długie i bezpieczne hasło">
        {% for error in form.password.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="password2">Powtórz hasło</label>
        <input type="password" value="{{form.password2.data if form.password2.data}}"
          class="form-control {{'is-invalid' if form.password2.errors}}" name="password2" placeholder="To co wyżej">
        {% for error in form.password2.errors %}
        <p class="invalid-feedback">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary center mt-2">Zmień hasło</button>
    </form>
  </div>
</section>
{% endblock %}

{% block js %}
<script src={{url_for('static', filename='js/password_entropy.js')}}></script>
{% endblock %}