{% extends "base.html" %}

{% block css_links %}
<style>
  textarea:disabled {
    color: rgba(128, 128, 128, 0.53);
  }
</style>
{% endblock %}

{% block main %}
<div class="container mt-3">
  <h3 class="text-center">Utworzone hasłą</h3>

  <section>
    <div class="d-flex flex-wrap">
      {{form.csrf_token}}
      <form class="d-flex mt-4 justify-content-center" method="POST" action={{url_for('passwords.my_passwords')}}></form>
        <article class="card text-dark mx-2" style="width: 1000px">
          <div class="card-header">
            <h4>Dodanie hasła</h4>
          </div>
          <div class="card-body">
            <input class="form-control" type="text" name="name" placeholder="Podaj hasło" maxlength="50">
          </div>
          <button class="btn btn-primary mt-2" type="submit">
            Odhaszuj hasło
          </button>
        </article>
      </form>

      {% for password in passwords %}
      <article class="card text-white bg-secondary my-3 mx-2" style="width: 20rem">

        <div class="card-header">
          <span class="float-left">{{password.name}}</span>
        </div>

        <div class="card-body">
          <h4 class="card-title">{{password.password}}</h4>
          <p class="card-text">
            {{password.url}}
          </p>
          <p><b>Author:</b> {{password.owner.login}}</p>
        </div>

      </article>
      {% endfor %}

    </div>

  </section>

</div>
{% endblock %}
{% block js %}
{% endblock %}